<nav class="navbar navbar-expand-md bg-body fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">RunwayFinance</a>
  <button
    class="navbar-toggler d-flex d-md-none order-3 p-2 focus-ring focus-ring-primary"
    style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), .0)"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#navbarOffcanvasLg">
    <i class="bi bi-three-dots"></i>
  </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header px-4 pb-0">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          RunwayFinance
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form class="d-flex position-relative flex-grow-1" role="search">
          <input
            [formControl]="searchControl"
            (keyup.enter)="onSearch()"
            (focus)="onFocus()"
            style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), .0)"
            class="form-control form-control-lg me-2 border border-2 border-body bg-body-tertiary rounded-pill
            focus-ring focus-ring-primary"
            type="search" placeholder="Search" aria-label="Search">
          <div class="dropdown-menu d-block position-absolute top-100 shadow border border-2 border-body rounded-3 mt-2"
            *ngIf="(searchStateService.showDropdown$ | async) && searchResults.length > 0">
            <a class="dropdown-item py-2 px-3" *ngFor="let result of (searchStateService.searchResults$ | async)" routerLink="/company/{{result.ticker}}"
              (click)="hideDropdown()"
              (keyup.enter)="hideDropdown();
              navigateToCompany(result.ticker);"
              >
              {{ result.name }}
            </a>
          </div>
        </form>
        <theme-cycler-button [size]="'btn-lg'" class="me-2"></theme-cycler-button>
      </div>
    </div>
  </div>
</nav>
