<div class="container-fluid container-lg">
  <div class="row" style="margin-top: 100px;">
    <div class="col-12 col-md-8 col-lg-5">
      <h3 class="mb-4 display-6 fw-bold">Cambio de contraseña</h3>
      <form [formGroup]="passwordForm" id="passwordForm" (ngSubmit)="onSubmit()">
        <div class="row row-cols-1 g-4 mb-4">
          <div class="col">
            <form-control-password
              formControlName="currentPassword"
              [submitAttempted]="submitAttempted"
              [shouldAutoFocus]="true"
              [label]="'Contraseña actual'"
              [placeholder]="''"
              >
            </form-control-password>
          </div>
          <div class="col">
            <form-control-password
              formControlName="newPassword"
              [submitAttempted]="submitAttempted"
              [label]="'Nueva contraseña'"
              [placeholder]="''"
              [formText]="'Tu contraseña debe tener entre 8 y 30 caracteres de longitud, contener letras y números, y debe incluir al menos un carácter especial. No debe contener espacios ni emojis.'"
              >
            </form-control-password>
          </div>
          <div class="col">
            <form-control-password
              formControlName="confirmNewPassword"
              [submitAttempted]="submitAttempted"
              [label]="'Contraseña actual'"
              [placeholder]="''"
              >
            </form-control-password>
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-lg btn-success bg-gradient"
            type="submit"
            form="passwordForm"
            >
            Cambiar contraseña
            <i class="bi bi-save ms-2"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
