<ng-container *ngIf="company && stockPrice && securityStockPrices">

  <div class="row row-cols-1 row-cols-md-2 g-2">
    <div class="col col-lg-8">
      <h1 class="display-6">{{company.name}}</h1>

    </div>
    <div class="col col-lg-4">

      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Previous close</div>
          </div>
          {{ stockPrice.lastPrice | currency:'USD' }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Day range</div>
          </div>
          {{securityStockPrices.stockPrices[0].adjLow| currency:'USD'}} -
          {{securityStockPrices.stockPrices[0].adjHigh | currency:'USD'}}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Year range</div>
          </div>
          {{securityStockPrices.stockPrices[0].fiftyTwoWeekLow | currency:'USD'}} -
          {{securityStockPrices.stockPrices[0].fiftyTwoWeekHigh | currency:'USD'}}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Avg. volume</div>
          </div>
          <!-- {{stockPrice.exchangeVolume | currency:'USD':'symbol':'1.0-0' }} -->
          --
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Market cap</div>
          </div>
          --
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Dividend yield</div>
          </div>
          --
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Primary exange</div>
          </div>
          {{company.stockExchange}}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Credit rating</div>
          </div>
          --
        </li>
      </ul>

      <div class="d-grid gap-2">
        <button class="btn btn-lg btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">About</button>
      </div>

    </div>
  </div>

  <app-business-summary-modal [company]="company"></app-business-summary-modal>

</ng-container>
