<div class="container-fluid container-lg">
  <div class="card shadow-lg" style="margin-top: 200px;">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
      <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <form-control
          formControlName="email"
          [type]="'email'"
          [submitAttempted]="submitAttempted"
          [label]="'Email'"
          [shouldAutoFocus]="focusOnEmail"
          >

        </form-control>
        <form-control-password
          formControlName="password"
          [submitAttempted]="submitAttempted"
          [label]="'Contraseña'"
          [shouldAutoFocus]="focusOnPassword"
          >
        </form-control-password>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" type="submit" form="loginForm">Login</button>
    </div>
  </div>
</div>
